body{
    background: rgb(108, 108, 206);
    font-family: 'Silkscreen', cursive;
    font-family: 'VT323', monospace;
}

header{
    color:  white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 70%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

@font-face {
    font-family: "Silkscreen",  sans-serif;
    src: url(/assets/Silkscreen-Regular.ttf);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
